.Wait-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(43,43,43);
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.Wait-main div {
  width: 100%;
  height: 100%;
}